meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Alistamiento de las piezas de marroquinería.
meta(meta name="description" content="La preparación de las piezas es el primer momento para la realización de los prototipos, bienvenido a este componente formativo en donde se hace énfasis en la importancia del proceso creativo, evolutivo y productivo en el desarrollo de los productos de marroquinería. Los procesos marroquineros se debe conocer y posteriormente toda la reglamentación, las unidades de medida, los materiales, la maquinaria y los puntos clave posteriores como los son el corte y el desbaste. Este es un componente formativo que agrupa el contenido fundamental de manera teórica y práctica que se debe conocer para iniciar el proceso de elaboración de un buen prototipo.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")