.container
    .header-ecored
        h1 1. El proceso productivo en marroquinería.
    .jumbotron.bg-white
        p Este es el proceso habitual que se hace por parte de los marroquineros para la producción de los productos y es muy respetado porque gracias a él se logra el estándar anhelado.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img2.png").img-fluid
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/q5sTm82KktQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')