.container
    .header-ecored
        h1 2. Fichas técnicas.
    .jumbotron.bg-white
        p Son los recursos ideales para la estandarización de la producción y todos los productos deben tenerla ajustada, es por eso que en este contenido se presentan:
        
        .sub-ecored.mt-5#21
            h2 2.1  Ficha técnica de diseño
        p Es necesario que conozca las fichas técnicas de diseño con la que se hace el pedido general del producto, la puede descargar e imprimir.
        a(href="media/documentos/ftdiseno.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/1.png").img-fluid            

        .sub-ecored.mt-5#22
            h2 2.2  Ficha técnica de producción
        p Esta ficha técnica dispone todas las partes que se deben tener en la producción de los productos de marroquinería, la puede descargar e imprimir.
        a(href="media/documentos/ftproduccion.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/2.png").img-fluid     

        .sub-ecored.mt-5#23
            h2 2.3   Ficha técnica de consumo
        p Con esta ficha técnica se lleva el control del material y su consumo, la puede descargar e imprimir.
        a(href="media/documentos/ftconsumo.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/3.png").img-fluid     

        .sub-ecored.mt-5#24
            h2 2.4  Ficha técnica de desbaste
        p Esta es la ficha técnica que muestra el desbaste requerido para las piezas y su unión, esta ficha técnica la puede descargar e imprimir.
        a(href="media/documentos/ftdesbaste.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/4.png").img-fluid     

        .sub-ecored.mt-5#25
            h2 2.5  Orden de producción
        p Todo trabajo inicia con una orden de producción, este formato es el que da orden al proceso, no se recomienda iniciar un proceso productivo sin una orden de producción; esta orden de producción está disponible para que la descargue y la imprima.
        a(href="media/documentos/ordendeproduccion.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/5.png").img-fluid     

        .sub-ecored.mt-5#26
            h2 2.6  Ficha técnica de procesos de producto
        p Esta ficha técnica muestra el orden en que se deben elaborar las piezas, el montaje y el trabajo de los diferentes diseños y modelos para el trabajo ordenado, recuerde que esta ficha técnica la puede descargar e imprimir.
        a(href="media/documentos/ftprocesos.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/6.png").img-fluid     

        .sub-ecored.mt-5#27
            h2 2.7  Ficha técnica de moldes
        p Esta es la ficha técnica para la elaboración de los moldes, esta ficha hace referencia a los diferentes moldes, sus aumentos y sus medidas, esta ficha técnica se puede imprimir y descargar.
        a(href="media/documentos/ftmoldes.pdf", target="_blank")     
            img.size-pdf.img-a.mt-5(src="assets/images/pages/ilustraciones/7.png").img-fluid                                                                             