.container
    .header-ecored
        h1 4. Materiales e insumos utilizados en marroquinería
    .jumbotron.bg-white
        P Dentro de la marroquinería se encuentran diferentes tipos de materiales que permiten generar productos elaborados en cuero, sintético, lonas, textiles, etc.  A continuación se revisan algunos de ellos: 

        .sub-ecored.mt-5#41 
            h2 4.1 Materiales  
        p La cadena de valor de la marroquinería requiere de algunas materias primas e insumos en el desarrollo de los productos. Entre ellos están:

        .sub-ecored-teme.mt-5 
            h3 Cuero
        p Materia prima que se obtiene mediante el proceso de curtido de las pieles de diferentes animales, que sirve para la elaboración de productos de marroquinería, talabartería, calzado, etc.  Se clasifican en: 
        
        .row.my-5
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active.px-2(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') Curtidos al cromo
                    a#v-pills-profile-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') Curtidos al vegetal
                    a#v-pills-messages-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false') Curtición mixta
            .col-8
                #v-pills-tabContent.tab-content
                    #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
                        p Cuero curtido con sales de cromo, suave, flexible y que se puede teñir en varias tonalidades. Material utilizado en marroquinería, calzado, confección y tapicería. 
                        img.img-a(src="assets/images/pages/ilustraciones/img112.png").img-fluid

                    #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                        p Cuero curtido de manera artesanal con taninos naturales.  Ejemplo: Suela, vaqueta tala. Material utilizado en marroquinería, calzado, talabartería.  
                        img.img-a(src="assets/images/pages/ilustraciones/img113.png").img-fluid
                    #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                        p Esta curtición combina dos o más tipos de curtientes, como el cromo y vegetal, el cual genera un cuero muy especial por tener propiedades de ambas curtientes. Se emplean principalmente para marroquinería fina.  
                        img.img-a(src="assets/images/pages/ilustraciones/img114.png").img-fluid

        .sub-ecored-teme.mt-5 
            h3 Sintético                         
        p Son los materiales que que presenta una base textil a la que se le aplica una capa de material sintético, ya sea de PVC (poli cloruro de vinilo) o PU (Poliuretano). Entre estos materiales se encuentran:
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img115.png").img-fluid
                .jumbotron.jumbo-margin-top   
                    h3 PU (Poliuretano)
                    .hr-gray
                    p.mt-3 Es un polímero parecido al cuero en cuanto a su parte formal. Es flexible y se utiliza en calzado, tapicería y marroquinería.      
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img116.png").img-fluid
                .jumbotron.jumbo-margin-top
                    h3 PVC (Poli cloruro de vinilo) 
                    .hr-gray
                    p.mt-3 Es un material termoplástico rígido y flexible. El cual este último es similar al cuero. Se utiliza en marroquinería y tapicería.   

        .sub-ecored-teme.mt-5 
            h3 Textiles 
        p Este tipo de material se utiliza en marroquinería ya sea para el desarrollo de piezas exteriores o interiores en los productos. Entre ellos están las lonas, las sedas y forros, así:  
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6        
                img.img-a(src="assets/images/pages/ilustraciones/img117.png").img-fluid
                .jumbotron.jumbo-margin-top
                    h3 Lonas 
                    .hr-gray
                    p.mt-3 Tela resistente de algodón puro utilizado en marroquinería, dependiendo para que se usa, se agregan refuerzos.    
        
        .sub-ecored-teme.mt-5 
            h3 Sedas y forros                         
        p Son materiales internos los cuales son más livianos que la tela base, suaves y agradables al tacto y más livianos que el material externo. Entre ellos están:         
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img118.png").img-fluid
                .jumbotron.jumbo-margin-top   
                    h3 Tafeta de acetato
                    .hr-gray
                    p.mt-3 tela artificial fabricada con hilos de fibra de acetato de celulosa. Se utiliza en el desarrollo de forros para marroquinería fina, pues no destiñe, no se arruga, ni se encoge.      
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img119.png").img-fluid
                .jumbotron.jumbo-margin-top
                    h3 Tafeta de nylon 
                    .hr-gray
                    p.mt-3 Tela de material sintético, es elástica y fácil de lavar. No es absorbente, seca rápido y recupera su forma con facilidad. Se utiliza para el desarrollo de forros de carteras especialmente.                      

        .sub-ecored-teme.mt-5 
            h3 Abullonados y refuerzos    
        p son elementos que dan finalización a las prendas por lo general, se encuentran para dar comodidad y acabados estables de calidad en la mayoría de los casos, entre estos elementos se caracteriza con facilidad el yumbolon, microporosas y espumas, así:                              

        .row.my-5
            .col-3
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-1-tab.nav-link.active.px-2(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') EVA (Etileno Vinil Acetato)
                    a#v-pills-2-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') Polex (Espuma de polietileno expandido)
                    a#v-pills-3-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') Guata
                    a#v-pills-4-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-4', role='tab', aria-controls='v-pills-4', aria-selected='false') Odena
                    a#v-pills-5-tab.nav-link.px-2(data-toggle='pill', href='#v-pills-5', role='tab', aria-controls='v-pills-5', aria-selected='false') Salpa

            .col-8
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        p Es un material termoplástico elaborado a base de etileno y acetato de vinilo, que se utiliza en marroquinería para darle rigidez y flexibilidad a las carteras especialmente. Es liviano, flexible, impermeable, fácil de cortar y pegar.  
                        img.img-a(src="assets/images/pages/ilustraciones/img120.png").img-fluid

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        p Es una espuma que se coloca entre la tela base y el forro, ayuda a proteger los productos y materiales, ya que provee acolchonamiento y funciona como aislante térmico. Es flexible e impermeable.  
                        img.img-a(src="assets/images/pages/ilustraciones/img121.png").img-fluid

                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        p Es un material que se usa para abullonar, es un aislante térmico que brinda suavidad y esponjosidad al producto.   
                        img.img-a(src="assets/images/pages/ilustraciones/img122.png").img-fluid  

                    #v-pills-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-4-tab')
                        p Es un material similar al cartón, elaborado con fibras de cuero recuperado que permite dar rigidez a ciertas partes del producto dando forma al mismo. Se encuentra en el mercado por láminas de 1.40 cm X 100 cm y en diferentes calibres.  
                        img.img-a(src="assets/images/pages/ilustraciones/img123.png").img-fluid 

                    #v-pills-5.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-5-tab')
                        p Es un material similar a la odena, el cual permite reforzar piezas, dando soporte y consistencia a las formas requeridas en el producto. Esta a diferencia de la odena, se encuentra en el mercado por rollos.  
                        img.img-a(src="assets/images/pages/ilustraciones/img124.png").img-fluid                                                       
        .sub-ecored-teme.mt-5
            h3 Cartón Kraft
        .jumbotron.mt-5.bg-1
            .row.justify-content-center.align-items-stretch
                .col-12.col-md-6
                    p es un papel de gran resistencia, que ayuda a dar ciertas formas a los productos, especialmente cuando hay formas curvas y se busca darle un mejor acabado a la pieza. 
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img125.png").img-fluid

        .sub-ecored.mt-5#42
            h2 4.2 Insumos  
        p Dentro del proceso para la elaboración de los productos se usan diferentes elementos que ya han sido procesados y que son parte fundamental en el desarrollo de los artículos, entre estos están:

        .row.justify-content-center
            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img26.png", target="_blank")   
                                img(src="assets/images/pages/ilustraciones/tabla1_1_si.jpg").img-fluid    
                        h3 Solución de caucho 
                        .hr-gray
                        p.mt-3 Es una clase de pegante a base de caucho natural y resinas sintéticas que se usa en marroquinería para pegar piezas de cuero o sintético, carnazas, espumas, textiles, etc. Se utiliza para pegues previos a la costura. También se usa en otras áreas para pegues que no requieren de mayor resistencia. Se debe aplicar en lugar donde haya bastante ventilación y usando tapabocas. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img27.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_2_si.jpg").img-fluid    
                        h3 Cemento de contacto
                        .hr-gray
                        p.mt-3 Es un pegante de contacto a base de poliuretano, que se utiliza para el pegue permanente de piezas de cuero, sintético, espumas, odenas, etc. Se debe aplicar en lugar donde haya bastante ventilación y usando tapabocas. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img28.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_3_si.jpg").img-fluid    
                        h3 Sellafix
                        .hr-gray
                        p.mt-3 Producto utilizado para el acabado de bordes que permite rellenar o igualar las superficies en especial los cantos de las piezas de cuero o sintético que presentan demasiados poros. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img29.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_4_si.jpg").img-fluid    
                        h3 Tinta marroquinera
                        .hr-gray
                        p.mt-3 Es una tinta que se usa para el acabado de bordes, esta permite obtener acabado brillante y mate para el desarrollo de productos como billeteras, cinturones, y bolsos de cuero y/o sintético cuando la pieza está al corte. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img30.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_5_si.jpg").img-fluid    
                        h3 Colorantes
                        .hr-gray
                        p.mt-3 Penetran el material y se utilizan para darle color al cuero curtido al vegetal, pueden ser anilinas minerales a base de agua o alcohol. Se encuentran en el mercado en diferentes colores ya preparadas o listas para preparar.

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img31.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_6_si.jpg").img-fluid    
                        h3 Pigmentos
                        .hr-gray
                        p.mt-3 Son tinturas vinílicas que generan cobertura al darle color al material, estas no penetran sobre el mismo. Se encuentran en el mercado de diferentes colores, con acabados mate o brillante. Actualmente ya tienen sellador incluido 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img32.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_7_si.jpg").img-fluid    
                        h3 Emulsión natural
                        .hr-gray
                        p.mt-3 Se utiliza para sellar las anilinas, evitando que se decoloren y manchen al caerles agua. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img33.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_8_si.jpg").img-fluid    
                        h3 Sellador
                        .hr-gray
                        p.mt-3 Es un producto que se usa para sellar la tintura dando una apariencia natural y buena resistencia al frote. Se encuentra en mate o brillante. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img34.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_9_si.jpg").img-fluid    
                        h3 Cremalleras
                        .hr-gray
                        p.mt-3 Existe una gran variedad de cremalleras, dentro de las cuales se encuentran cremalleras de nylon, metálicas, desmontables y de cadena continua, siendo esta última la más usada en marroquinería.   

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img35.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_10_si.jpg").img-fluid    
                        h3 Deslizadores
                        .hr-gray
                        p.mt-3 Son los carretes que permiten abrir o cerrar la cremallera, estos se deslizan sobre los dientes de los cierres. Se encuentran de diferentes formas y acabados. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img36.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_11_si.jpg").img-fluid    
                        h3 Broches
                        .hr-gray
                        p.mt-3 Se usan para cerrar algunos productos como billeteras, bolsos, monederos según diseño y existen broches imanados o broches tipo cazuela. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img37.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_12_si.jpg").img-fluid    
                        h3 Reatas
                        .hr-gray
                        p.mt-3 Tejido utilizado en marroquinería para cinturones, correas, bolsos, maletines, etc. Se encuentra por rollos y en diferentes medidas. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img38.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_13_si.jpg").img-fluid    
                        h3 Velcro
                        .hr-gray
                        p.mt-3 Es un tipo de cierre de contacto, compuesto por dos partes: una áspera y otra suave y al unirlas generan el cierre. Se usa para cerrar billeteras, bolsos, etc. según el diseño del producto. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img39.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_14_si.jpg").img-fluid    
                        h3 Cinta falla
                        .hr-gray
                        p.mt-3 Es una cinta en poliéster que se usa para decorar y dar acabados en la confección, se utiliza para ribetear a máquina. Se encuentra en el mercado por rollos y en diferentes colores. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img40.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_15_si.jpg").img-fluid    
                        h3 Hilo
                        .hr-gray
                        p.mt-3 En el mercado se encuentran varios tipos de hilos (en algodón, poliéster y nylon) utilizados en confección de artículos de cuero, textil y/o sintético. Sin embargo, el hilo más adecuado para la marroquinería es el hilo de nylon (poliamida), ya que presenta alta resistencia y durabilidad. Se encuentra en diferentes calibres y los más usados son en No. 20, No. 40 y No. 60.

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img41.png", target="_blank") 
                                img(src="assets/images/pages/ilustraciones/tabla1_16_si.jpg").img-fluid    
                        h3 Cordones
                        .hr-gray
                        p.mt-3 Son tejidos cilíndricos de algodón y poliéster de varios espesores, usados como cierres según diseños o como rellenos para formar manijas. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img42.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_17_si.jpg").img-fluid    
                        h3 Vivos
                        .hr-gray
                        p.mt-3 Son cables plásticos que se usan para formar un vivo. Se encuentra el vivo espagueti y plástico los cuales se colocan en los bordes para estructurar el producto, se usa especialmente para la confección de bolsos. 

            .col-10
                .card-media.bg-2
                    .card-media__body
                        figure.card__figure
                            a(href="assets/images/pages/ilustraciones/img43.png", target="_blank")
                                img(src="assets/images/pages/ilustraciones/tabla1_18_si.jpg").img-fluid    
                        h3 Herrajes
                        .hr-gray
                        p.mt-3 Hebillas, mosquetones, chapas, remaches, ojaletes, argollas, cuadrantes, torniquetes, cadenas, trabillas, pasadores, etc.                    

        .sub-ecored.mt-5#43
            h2 4.3 Materiales para la elaboración de moldes. 
        p Los materiales y elementos que se necesitan para realizar el proceso de patronaje son:

        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img44.png").img-fluid    
                        h3 Cartulina o cartón dúplex
                        .hr-gray
                        p.mt-3 Son láminas de papel de mayor espesor que permiten darle forma y un corte de manera fácil. Con este material se desarrolla la moldería según diseño. Se pueden conseguir comercialmente por pliegos de 100 cm x 70 cm y cartulina en diferentes colores.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img45.png").img-fluid    
                        h3 Portaminas o lápiz
                        .hr-gray
                        p.mt-3 Utilizado para realizar los trazos sobre el papel, permite generar líneas más exactas para la medida del molde. Se recomienda de mina 0,5 mm a 0,7 mm.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img46.png").img-fluid    
                        h3 Borrador
                        .hr-gray
                        p.mt-3 Se usa para corregir trazos, los más aconsejables son los de miga de pan o de nata. Estos evitan manchas en el molde y permiten hacer correcciones a los trazos.

            .col-10
                .card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img47.png").img-fluid    
                        h3 Mina plata
                        .hr-gray
                        p.mt-3 Es una mina que sirve para escribir sobre el cuero o el sintético, la cual es fácil de remover. Es útil para marcar líneas de corte de patrones y para marcar líneas que demarcan el dobles de algunas piezas.                        