.container
    .header-ecored
        h1 5. Conceptos básicos de diseño para marroquinería
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img48.png").img-fluid
        p.mt-5 Para adentrarse en el mundo del diseño en marroquinería es importante acercarse a los conceptos básicos con que se inicia la actividad creativa para producir artículos que sean acordes a las tendencias actuales. La innovación, es el ejercicio de aplicar la creatividad empleando nuevas ideas y conceptos, ya sea a un servicio o producto, esta se aplica para desarrollar propuestas novedosas que le den un valor agregado a un artículo ya sea de manera tangible o intangible.  

        p Teniendo claro el concepto de innovación, es posible iniciar con el diseño, que es la herramienta estratégica que amplía la competitividad de la organización y donde se deben tener en cuenta algunas fases en las cuales se analiza, planifica y ejecuta para poder responder a las necesidades del usuario, integrando de manera eficiente lo que busca el cliente y lo que ofrece la organización.

        p Para iniciar el proceso de diseño, debe haber un problema descubierto (una necesidad) que permita analizar y procesar la información obtenida inicialmente en el estudio de mercados y que lleve al desarrollo del proyecto. 

        p Para ello se debe hacer la pregunta: ¿Qué se va a hacer? Una vez formulada esta pregunta se realiza un análisis que permite dar forma al producto, teniendo en cuenta algunos lineamientos, tales como:

        .sub-ecored.mt-5#51
            h2 5.1 La investigación para el diseño

        p.mt-5 La investigación es la cuota inicial de cada proceso productivo y se hace para buscar puntos de inspiración que permitan la generación de ideas y conceptos; a través de lugares, formas, movimientos artísticos; etc. Que ayuden con el desarrollo del cuaderno de bocetos, este es el espacio donde se hace la experimentación con colores, materiales y texturas sin riesgos. 

        p La experimentación es una de las mejores experiencias del todo creador y será de vital importancia en el desarrollo de las alternativas que se deben crear a partir del estudio de las tendencias de moda que darán inicio al diseño de la colección.    

        .header-arrow.py-4.my-5
            h3.text-center Puntos de inspiración 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img49.png").img-fluid

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img50.png").img-fluid

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img51.png").img-fluid

        p.mt-5 En el proceso de investigación, el diseñador reúne información sobre el tema fruto de la investigación, en el cual tiene presente tanto la investigación primaria como la investigación secundaria. 

        p Dentro de la investigación primaria se hace uso de la información que recoge el diseñador mediante bocetos, fotografías, videos, etc. y en la investigación secundaria, lo hace a través de investigaciones ya existentes, dentro del cuaderno de bocetos se va anexando dicha información ya sea con recortes de documentos, revistas, trazos, etc. que posteriormente permiten crear el mood board o panel de investigación, el cual se crea interpretando la información creada inicialmente dentro del cuaderno de bocetos para plasmarlo tanto en el panel de colores como en el panel de texturas. 

        .sub-ecored-teme.mt-5
            h3 Panel de colores
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                p Se crea teniendo en cuenta la investigación realizada, y se crea con el objetivo de presentar una aproximación del color de la colección. 
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img52.png").img-fluid

        .sub-ecored-teme.mt-5
            h3 Panel para materiales
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                p Se realiza para unir materiales a los colores elegidos. Se tienen en cuenta las texturas de estos.
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img53.png").img-fluid

        .sub-ecored.mt-5#52
            h2 5.2 Generar alternativas 
        p.mt-5 Las alternativas se realizan a través de bocetos o trazos para determinar la estructura, forma y función del producto. Es necesario crear con abundancia y por eso es común que por desarrollo se realicen como mínimo seis (6) bocetos.

        p Para generar las alternativas, es importante iniciar con el desarrollo de los bocetos que permiten representar las ideas de diseño, transmitiendo las especificaciones estructurales y formales del producto a diseñar. Estas deben ser específicas para que haya una buena comunicación entre los integrantes del comité de diseño (grandes empresas) o para la comunicación entre el diseñador y modelista.

        p Para ello se deben realizar bocetos que representen las formas, proporciones y perspectiva de la propuesta de producto, plasmando los diseños en hojas de papel que permitan mostrar el perfeccionamiento o evolución de las ideas.

        .header-arrow.py-4.my-5 
            h3 Bocetos 
        img.img-a(src="assets/images/pages/ilustraciones/img54.png").img-fluid
        
        .sub-ecored.mt-5#53
            h2 5.3 Seleccionar las alternativas de diseño.  
        p.mt-5 Vallejos (2013) aporta que las “tipologías son las que definen la estructura interna y externa de un bolso o de una cartera, su constitución y su modo de ser confeccionadas, también son las que determinan su forma, su capacidad, su tamaño, su estética, su utilidad y estilo”.

        p Teniendo en cuenta las necesidades y tendencias del mercado se procede con la selección de alternativas de diseño que cumplan con los requerimientos. Para ello se debe tener en cuenta coherencia formal de las propuestas, estética del producto, elementos conceptuales, características estructurales y funcionales del producto. Aquí juega un papel muy importante la tipología del producto y sus características. Para el caso de los bolsos se puede verificar:

        .sub-ecored-teme.mt-5 
            h3 Tipos de bolsos 
        p.mt-5 La tipología del bolso es quien define la estructura interna y externa del producto, su construcción y modo de ser confeccionado. Algunos tipos de bolsos se pueden ver en la siguientes figuras: 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img55.png").img-fluid
                h3.text-center.mt-2 Bolso de mano. 
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img56.png").img-fluid
                h3.text-center.mt-2 Bolso bag o barril. 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img57.png").img-fluid
                h3.text-center.mt-2 Bolso tipo balde.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img58.png").img-fluid
                h3.text-center.mt-2 Bolso tipo sobre.
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img59.png").img-fluid
                h3.text-center.mt-2 Bolso Tote.
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img60.png").img-fluid
                h3.text-center.mt-2 Riñonera.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img61.png").img-fluid
                h3.text-center.mt-2 Bandolera. 
            .col-12.col-md-4                
                img.img-a(src="assets/images/pages/ilustraciones/img62.png").img-fluid
                h3.text-center.mt-2 Bolso a la muñeca.
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img63.png").img-fluid
                h3.text-center.mt-2 Morral – mochila.

        .sub-ecored-teme.mt-5 
            h3 Características del producto

        .jumbotron.bg-4.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-8                
                    p Se realiza el análisis del mismo, si el producto lleva tapa, que tipo de cierre presenta, si presenta forro, tipos de manijas (simples, dobles, rectilíneas), bolsillos internos – externos, material, color, herrajes, etc.
                .col-12.col-md-4 
                    img.img-a(src="assets/images/pages/ilustraciones/img64.png").img-fluid

        .sub-ecored-teme.mt-5 
            h3 Estructura

        .jumbotron.bg-4.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-8                
                    p Ejes de simetría, centros, modularidad.
                .col-12.col-md-4 
                    img.img-a(src="assets/images/pages/ilustraciones/img65.png").img-fluid

        .sub-ecored-teme.mt-5 
            h3 Función del bolso

        .jumbotron.bg-4.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-8                
                    p Si el producto cumple con los requerimientos del mercado objetivo, si presenta confort, ciclo de vida del producto (durabilidad de materiales), liviandad y calidad del producto.
                .col-12.col-md-4 
                    img.img-a(src="assets/images/pages/ilustraciones/img66.png").img-fluid                    

        .sub-ecored.my-5#54
            h2 5.4 Evaluar las alternativas de acuerdo con los requerimientos de diseño. 
        img.img-a(src="assets/images/pages/ilustraciones/img67.png").img-fluid                    

        p.mt-5 Dentro de esta fase se revisa que el producto tenga coherencia en cuanto a unidad formal, funcional y estilo, para ello hay que revisar acabados, materiales y estética del producto.

        p Se debe realizar una lista de verificación como instrumento de evaluación, donde se realice un análisis de diseño conceptual, diseño técnico y diseño de detalle. Importante tener en cuenta la competencia.

        .sub-ecored.mt-5#55
            h2 5.5 Evaluar el proceso productivo de acuerdo con el producto a desarrollar.

        p.mt-5 Evalúa el proceso productivo para llevar a cabo el desarrollo del producto.

        p Dentro de esta fase se reconoce el proceso de diseño trabajado previamente. Se revisan operaciones, equipos, máquinas, herramientas y recursos que intervienen dentro del proceso de producción. Importante tener claro donde inicia el proceso y donde termina, así como los elementos de entrada y salida.
 
        .sub-ecored.mt-5#56
            h2 5.6 El producto estándar.
        p.mt-5 Por factores productivos de calidad y control, es necesario entender qué es el producto estándar y cómo este producto estándar está en el ojo del proceso productivo porque de esa forma se puede generar la garantía en la entrega formal de todos los productos a un mercado con unas demandas claras.

        p Para realizar este proceso es necesario conocer la tipología de productos, medidas estándar y componentes. Cuando hay claridad con estas medidas se procede a la realización de la ficha técnica del producto.

        p La ficha técnica es el documento de manejo interno con el que cuenta una empresa para relacionar los parámetros técnicos a tener en cuenta en la realización de la muestra física del producto. 

        .header-arrow.my-5.py-4
            h3.text-center Ficha técnica 
        a.mt-5(href="media/documentos/Tabla3.docx", target="_blank")     
            img.img-a(src="assets/images/pages/ilustraciones/img68.png").img-fluid                    

        .sub-ecored.my-5#57
            h2 5.7 Desarrollar moldes del producto.
        img.img-a(src="assets/images/pages/ilustraciones/img69.png").img-fluid                    

        p.mt-5 Teniendo seleccionado el producto y la ficha técnica del mismo, se procede al desarrollo de los moldes. Estos se desarrollan de manera manual o digital.  
 

        .sub-ecored.my-5#58
            h2 5.8 Desarrollo del producto o prototipo.
        img.img-a(src="assets/images/pages/ilustraciones/img70.png").img-fluid                    

        p.mt-5 Después de tener los moldes del artículo a desarrollar se inicia con el proceso productivo para la obtención del producto, teniendo en cuenta la evaluación previa realizada.
             
        .sub-ecored.my-5#59
            h2 5.9 Evaluación del producto o prototipo.
        img.img-a(src="assets/images/pages/ilustraciones/img71.png").img-fluid                    

        p.mt-5  Dentro de la evaluación del producto se observa si el proceso llevado es el acorde para el desarrollo del mismo, se realiza el control de calidad y se valora si se debe rediseñar.              