.container
    .header-ecored
        h1 6. La maquinaria para marroquinería
    .jumbotron.bg-white
        p Las empresas han avanzado y pasaron de un espacio bien logrado con mucho trabajo de mano o manufactura a procesos industriales grandiosos en los que las máquinas juegan un gran papel, por eso se hacen necesarias en los talleres y acá se muestra algunas de estas.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img72.png").img-fluid                    

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9SsLJIbLc8w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     