.container
    .header-ecored
        h1 8. El corte
    .jumbotron.bg-white
        p Esta es la realización de la muestra de comprobación final para saber en qué material va a ser cortado cada elemento de la muestra de comprobación y las otras partes y del material como lo puede ver en los siguientes videos:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img74.png").img-fluid   

        .sub-ecored.my-5#81
            h2 8.1	El corte de la muestra de comprobación.             
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/lthG8UCkPEw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                 

        .sub-ecored.my-5#82
            h2 8.2 Corte del forro.             
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2YA4txQnhPo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')       

        .sub-ecored.my-5#83
            h2 8.3 Corte del cuero.             
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ex4QQiK7xj0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        p.my-5 Para lograr mayor profundidad en el campo del corte que es una realidad necesaria para todos los trabajadores de la marroquinería, es importante saber que desde este punto se tiene el proceso controlado en términos de costos, tiempos y recursos.

        a(href="media/documentos/Desbaste_de_pieles.pdf", target="_blank")     
            img.img-a(src="assets/images/pages/ilustraciones/img75.png").img-fluid