.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Herramientas:
            | son aquellos bienes tangibles que generalmente son de hierro o acero y que se usa con las manos y que sirve para realizar un determinado trabajo. 
        
        p
            strong.mr-2 Máquinas:
            | son aquellos bienes tangibles que están formados por diferentes piezas móviles y fijas que aprovechan la energía que tiene para realizar un trabajo determinado.
        p 
            strong.mr-2  Materia prima:
            | es el material extraído de la naturaleza susceptible de cambio o transformación industrial que se usan como base para la elaboración de nuevos productos.
        p
            strong.mr-2 Producto:
            | son bienes como mercancías u objetos, pero también pueden ser servicios, los cuales van a cumplir una función social al suplir una necesidad del mercado (consumidores). Zapatos, libros etc. 