include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Elaboración de prototipos para marroquinería
        meta(meta name="description" content="Ruta de aprendizaje programa Elaboración de prototipos para marroquinería.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Elaboración de prototipos para marroquinería
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Elaboración de prototipos para marroquinería
                                        li 
                                            span #[strong Código:] 93530217
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] acceso a internet y a un equipo de cómputo.

                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg").curso-imagen         


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Estimado aprendiz sea bienvenido al curso de “Elaboración de prototipos para marroquinería” en el cual se trabaja uno de los cluster más importantes del sector empresarial en Colombia como lo es el cuero y calzado que agrupa más de 10,000 empresas con una importancia en la economía departamental, municipal y familiar.

                p Este curso trabaja el contenido básico para la elaboración de los prototipos necesarios para la gestión de los productos marroquineros que se van a producri en línea y vender al público para probar los materiales, finalizados, ajustes y detalles finales tal como lo exige el mercado y la moda.

                p El programa está diseñado para que usted se divierta y aprenda al tiempo y debe ser muy precavido a la hora de revisar los contenidos porque de allí se anclan las actividades de aprendizaje que se le solicita presentar, recuerde disponer el tiempo necesario y un buen ambiente de trabajo en el cual el único beneficiado será usted su familia y Colombia.

                p Sea bienvenido a este curso complementario virtual y esté pendiente de las plataformas y el correo electrónico registrado con el Sena para que no pierda detalle de estas cuatro semanas de trabajo inmersivo. 


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La fabricación de artículos de marroquinería en relación al estudio realizado al subsector cuero calzado y marroquinería es uno de los que mayor mano de obra ocupa a nivel nacional y es una de las actividades económicas más dinámicas de la industria.

                p El sector agrupa alrededor de 13.000 empresas en el eslabón de transformación e insumos en Colombia y 15.000 en el de comercialización, que se distribuye en 28 de los 32 departamentos del país.

                p Este programa busca complementar las habilidades de codelistas, diseñadores de marroquinería y demás personas interesadas, en la elabotración de muestras físicas de marroquienría, sean las empresas grandes, medianas o pequeñasnecesitan la verificación de molduras y procesos para el desarrollo de sus productos.

                p El programa Elaboración de prototipos para marroquinería, brinda un amplio conocimiento en diferentes tipos de procesos productivos y técnicas para el desarrollo de las muestras físicas, asimismo instruye acerca de los tipos de maquinaria y equipos utilizando en el proceso. También proporciona conocimiento acerca de materiales, herramientas, herrahes e insumos con sus características de uso.

                p Los aprendices además serán formados con prácticas y procedimientos establecidos en el MIP/PTP Colombia, procurando transferir la estructura, procesos y procedimientos del modelo a las empresas donde realizarán sus labores, iniciando así un cambio cultural desde el interior de las empresas buscando un aumento de productividad para mantener su participación en el mercado local y competir en mercados internacionales.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Este programa está dirigido a la ciudadanía en general que tenga acceso a internet y a un equipo de cómputo sin importar su área de formación, ocupación o perfil.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





